<form action="/books/create" method="post" autocomplete="off">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="author" placeholder="Author" required>
    <button>Submit</button>
</form>

<div class="books">
    <% if (!books.length) { -%>
        <p>No books!</p>
    <% } -%>
    <% for (const book of books) { -%>
        <div class="book">
            <img src="//placehold.it/400x600/" alt>
            <h3><%= book.title %></h3>
            <p>
                by <%= book.author %>
                (<a href="/books/remove/<%= book.id %>">remove</a>)
            </p>
        </div>
    <% } -%>
</div>
