<% if (Object.keys(messages).length) { -%>
    <div id="flashes">
        <% for (const _type in messages) { -%>
            <% for (const _msg of messages[_type]) { -%>
                <div class="flash flash-<%= _type %>"><%= _msg %></div>
            <% } -%>
        <% } -%>
    </div>
<% } -%>
