<script>
    const CONFIG = <%- JSON.stringify(config) %>;
    const ROUTE = <%- JSON.stringify(route) %>;
</script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>
