<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= typeof title !== 'undefined' ? `${title} - ` : '' %><%= config.title %></title>

    <%- include partials/styles %>
</head>
<body class="page-<%= route.controller %> page-<%= route.fullName %>">
    <%- include partials/flashes %>
    <%- include partials/header %>

    <main>
        <%- body %>
    </main>

    <%- include partials/scripts %>
</body>
</html>
