.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    flex: 1 1 33%;
    padding: 10px;
}

.book img {
    margin-right: 10px;
    width: 100%;
}

form {
    display: flex;
}

form * {
    flex: 1;
}

form input {
    border: none;
    border-bottom: 2px solid #ddd;
    margin: 10px;
    outline: none;
    padding: 10px;
}

form button {
    background: #dd8;
    border: none;
    cursor: pointer;
    flex: 0;
    margin: 10px;
    outline: none;
    padding: 10px;
}
