* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: sans-serif;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    width: 600px;
}

body.page-home-test {
    background: #fafafa;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

header {
    margin: 40px 0 20px;
}

nav {
    display: flex;
}

nav a {
    background: #eee;
    color: #333;
    flex: 1;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:not(:last-child) {
    margin-right: 10px;
}

nav a.active {
    box-shadow: inset 0 0 4px #aaa;
}

video {
    width: 100%;
}

#flashes .flash {
    background: #f6f6f6;
    box-shadow: 0 2px 2px -2px #aaa;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

#flashes .flash-info {
    background: #dedeff;
}

#flashes .flash-success {
    background: #deffde;
}

#flashes .flash-error,
#flashes .flash-danger {
    background: #ffdede;
}
